{% extends 'base.html' %}
{% load static %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'catalogo:alga-list' %}">Frutos y Semillas</a></li>
    <li class="breadcrumb-item active">{% if edit %}Actualizar{% else %}Nuevo{% endif %}</li>
{% endblock %}
{% block subtitulo %}
    <i class="fa fa-circle text-success"></i>
    Algas
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="row ">
                    <form action="" method="POST" enctype="multipart/form-data" class="w-100">
                        {% csrf_token %}
                        {% include 'form_snippet_general.html' %}
                        <div class="col-md-12">
                            <br>
                            {% if edit %}
                                <button class="btn btn-warning"><i class="fa fa-edit"></i> Actualizar</button>
                            {% else %}
                                <button class="btn btn-success"><i class="fa fa-save"></i> Crear</button>
                            {% endif %}
                            <a class="btn btn-danger" href="{% url 'catalogo:frutosemilla-list' %}"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}