<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/herbario.svg' %}">
{#    <link href="{% static 'assets/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">#}
    <link href="{% static 'assets/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css' %}"
          rel="stylesheet">
{#    esto es una preuba inicia#}


{#termina la prueba#}
{#    <link href="{% static 'assets/plugins/bower_components/jquery-wizard-master/css/wizard.css' %}" rel="stylesheet">#}


    <!-- Menu CSS -->
    <link href="{% static 'assets/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <!-- toast CSS -->
{#    <link href="{% static 'assets/plugins/bower_components/toast-master/css/jquery.toast.css' %}" rel="stylesheet">#}

    <link href="{% static 'assets/pu' %}">
    <title>Herbario UJAT</title>

    <!-- Bootstrap núcleo CSS -->
{#    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">#}
    <!-- Bootstrap estilo de la pagina CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{#    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'assets/css/colors/blue.css' %}" id="theme" rel="stylesheet">#}


    <!-- Fonts para está página -->
    <link href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Hoja de Estilo y Efecto zoom -->
    <link href="{% static 'assets/css/base.css' %}" rel="stylesheet">

    <!-- Fix del contenedor de la barra de menú -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }

        @media (max-width: 576px) {
            nav > .container {
                width: 100%;
            }
        }

    </style>
    {% block style %} {% endblock %}

</head>

<body>

<div class="page-wrapper chiller-theme toggled">

    {% include 'base_sidebar.html' %}
{#    {% include 'base_navbar.html' %}#}
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">
                        {% block subtitulo %}{% endblock %}
                    </h4>
                </div>

                <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'catalogos:home' %}">Inicio</a></li>
                        {% block breadcrumbs %}
                        {% endblock %}
                    </ol>
                </div>
            </div>
            <!-- en esta parte se pone lo que va dentro de home -->
            {% block container %}
            {% endblock %}
        </div>

    </main>
    <!-- page-content" -->
</div>
{#<!-- page-wrapper -->#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"#}
{#        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"#}
{#        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"#}
{#        crossorigin="anonymous"></script>#}
{% block js %}
{% endblock %}
</body>
</html>
