{% load static %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
                <li class="user-pro">
                    <a href="#" class="waves-effect text-center">

                    </a>
                </li>


                <li class="nav-small-cap m-t-10"><i class="fa fa-home"></i> Colecciones del Herbario</li>
                <li>
                    <a href="javascript:void(0)" class="waves-effect">
                        <i data-icon="F" class="linea-icon linea-software fa-users"></i>
                        <span class="hide-menu">Colecciones<span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a href="">Plantas</a></li>
                        <li><a href="">Frutos y Semillas</a></li>
                        <li><a href="">Polen</a></li>
                        <li><a href="">Algas</a></li>
                        <li><a href="">Helechos</a></li>
                        <li><a href="">Hongos</a></li>
                    </ul>
                </li>

                <li>

                    <a href="javascript:void(0)" class="waves-effect">
                        <i data-icon="F" class="linea-icon linea-software fa-users"></i>
                        <span class="hide-menu">Conceptos<span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a href="{% url 'catalogo:familia-list' %}"><i class="fa fa-book"></i>Familia</a></li>
                        <li><a href=""><i class="fa fa-book"></i>Especie</a></li>
                        <li><a href=""><i class="fa fa-book"></i>Genero</a></li>
                        <li><a href=""><i class="fa fa-book"></i>Biodiversidad</a></li>
                        <li><a href=""><i class="fa fa-book"></i>Ecosistema</a></li>
                    </ul>
                </li>

                <li>

                <a href="javascript:void(0)" class="waves-effect">
                        <i data-icon="F" class="linea-icon linea-software fa-users"></i>
                        <span class="hide-menu">Conceptos<span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a href=""><i class="fa fa-book"></i>Especies Endemicas</a></li>
                        <li><a href=""><i class="fa fa-book"></i>Especies Prioritarias</a></li>
                        <li><a href=""><i class="fa fa-book"></i>Especies para la Reforestacion</a></li>
                        <li><a href=""><i class="fa fa-book"></i>Monitoreo de Especies</a></li>
                        <li><a href=""><i class="fa fa-book"></i>Colecciones Cientificas</a></li>
                    </ul>
                </li>

        </ul>
    </div>

</div>

