{% extends 'base.html' %}
{% load static %}
{% block container %}

    <!-- About Section -->
    <section id="portfolio">
        <div class="container"><br>
            <h2 class="text-center">Resumen</h2>
            <hr class="pagelines-primary">
            <br>


            <h3>Colecciones</h3><br>


            <div class="row">
                <div class="col-md-6"><img src="{% static 'assets/img/Corquis DACbiol 3D.jpg' %}" class="img-responsive" width="100%">
                </div>
                <div class="col-md-6"><p>Las colecciones del Herbario XAL son institucionales, es decir, pertenecen y
                    son un elemento constitutivo del Instituto de Ecolog&iacute;a, A.C. Su permanencia cuidado y pol&iacute;ticas
                    de desarrollo y servicio son aspectos que derivan de los prop&oacute;sitos que fundamentan la
                    existencia del Instituto ("...generar conocimiento cient&iacute;fico y tecnol&oacute;gico en las
                    &aacute;reas de ecolog&iacute;a, sistem&aacute;tica, conservaci&oacute;n y uso de recursos
                    naturales, vinculando sus actividades a la problem&aacute;tica ambiental ocasionada por la producci&iacute;n
                    regional y nacional"). De este modo, constituyen el apoyo y/o referencia esencial de muchos estudios
                    encaminados a resolver problemas pr&aacute;cticos y teóricos de los grupos taxon&oacute;micos que
                    abarca.</p><br></div>
            </div>

            <p>Si bien en sus inicios, hace poco m&aacute;s de 30 años, las colecciones de XAL consideraban s&oacute;lo
                ejemplares de plantas vasculares , pronto se le incorporaron las colecciones de briofitas (en 1979) y
                las de hongos y l&iacute;quenes (en 1981). Desde su establecimiento, cada una de las colecciones ha
                tenido un crecimiento sostenido y aún se encuentran en expansión.</p><br>


            <p>Actualmente, el tamaño de las colecciones asciende a un poco m&aacute;s de 270,000 espec&iacute;menes de
                plantas vasculares, 37,000 de hongos y l&iacute;quenes y 4,700 de briofitas.</p><br>

            <p>El acervo del Herbario XAL está constituido básicamente por espec&iacute;menes desecados, pero incluye
                tambi&eacute;n otro tipo de colecciones como son fotograf&iacute;as de ejemplares y microfichas de
                literatura taxon&oacute;mica y espec&iacute;menes de herbarios hist&oacute;ricos y tipos. Igualmente,
                las bases de datos son ahora parte importante del acervo del herbario y en XAL se han desarrollado las
                correspondientes a plantas vasculares, hongos y l&iacute;quenes, y la de briofitas.</p><br>

            <p>La infraestructura del herbario incluye, adem&aacute;s del mobiliario adecuado para la conservaci&oacute;n
                de los espec&iacute;menes, algunos microscopios, mesas de trabajo y utensilios pertinentes para la
                disección de muestras vegetales. Tambi&eacute;n, como parte de sus herramientas de trabajo, el herbario
                tiene asociada una pequeña biblioteca con bibliograf&iacute;a taxonómica indispensable para la revisi&oacute;n
                del material herborizado.</p><br>

            <p>Las colecciones del herbario están siempre disponibles para consulta, sea para el cotejo de espec&iacute;menes,
                estudios morfol&oacute;gicos de diversa &iacute;ndole, o la obtenci&oacute;n de informaci&oacute;n a
                partir de las etiquetas de los ejemplares o de las bases de datos. Estudios especiales, como son anat&oacute;micos,
                fitoqu&iacute;micos o moleculares (ADN), pueden realizarse a solicitud y consentimiento expreso espec&iacute;ficos.</p>
            <br>

            <h5>Plantas vasculares</h5><br>
            <p>Angiospermas</p><br>

            <p>El grupo de las plantas con flores constituye cerca del 95 % de los espec&iacute;menes de las colecciones
                de plantas vasculares de XAL. Esta parte del acervo contiene muestras correspondientes a 274 familias,
                2,992 géneros y 17,333 especies.</p><br>

            <p>Las familias representadas con m&aacute;s de 2,500 espec&iacute;menes son, en orden decreciente:
                Asteraceae, Poaceae, Rubiaceae, Leguminosae, Solanaceae, Euphorbiaceae, Orchidaceae, Malvaceae,
                Piperaceae y Cyperaceae.</p><br>

            <p>La participaci&oacute;n de varios tax&oacute;nomos especialistas en la elaboraci&oacute;n de los fasc&iacute;culos
                de la serie Flora de Veracruz y otros proyectos, ha permitido alcanzar un buen estándar de curaci&oacute;n
                en varias familias. Entre ellas se encuentran por ejemplo: Actinidaceae, Araliaceae, Asteraceae (en
                parte), Bignoniaceae, Burseraceae, Convolvulaceae, Cupressaceae, Lauraceae, Malvaceae, Myrtaceae,
                Orchidaceae, Rubiaceae, Solanaceae, Thymelaeaceae y Verbenaceae.</p><br>

            <h5>Plantas vasculares</h5><br>
            <p>Gimnospermas</p><br>

            <p>Este grupo de plantas conforma apenas el 1% de los espec&iacute;menes de las colecciones de plantas
                vasculares de XAL, representando 12 familias, 26 g&eacute;neros y 180 especies. Las familias mejor
                representadas son Pinaceae y Zamiaceae, ambas con un buen nivel de curaci&oacute;n.</p><br>

            <h5>Colección de pteridofitas</h5><br>

            <p>Los helechos y plantas afines constituyen alrededor del 5 % del acervo de las colecciones de plantas
                vasculares. La representaci&oacute;n de este grupo abarca alrededor de 32 familias, 124 g&eacute;neros y
                900 especies. Esta secci&oacute;n del herbario goza de un buen nivel de curaci&oacute;n en todos sus
                taxa. Entre las familias con mayor n&uacute;mero de ejemplares se encuentran las Aspleniaceae,
                Dryopteridaceae, Polyppodiaceae, Pteridaceae (Adiantaceae), Selaginellaceae y Thelypteridaceae.</p><br>


            <h5>Colecci&oacute;n de briofitas</h5><br>
            <p><a href="http://www3.inecol.edu.mx/briologia/" target="_blank">http://www.filogenetica.org/briologia/briologia.htm</a>
            </p>

            <h5>Colecci&oacute;n de cepas de hongos comestibles</h5><br>
            <div class="row">
                <div class="col-md-6"><img src="{% static 'assets/img/hongo.png' %}" class="img-responsive" width="100%"></div>
                <div class="col-md-6"><p>El laboratorio de hongos macroscópicos cuenta con un cepario de hongos
                    comestibles y medicinales que se inici&oacute; en el año 2012.</p><br>
                    <p>A la fecha cuenta con cepas nativas de Tabasco como Oudemansiella canarii, Pleurotus djamor,
                        Schizophyllum commune, Auricularia fuscosuccinea, Pycnoporus sanguineus y Volvariella volvacea,
                        entre otras.</p> <br></div>


                <p>Con dichas cepas se han desarrollado estudios sobre caracterización del crecimiento micelial de los
                    hongos comestibles, evaluación de la fructificación en subproductos agr&iacute;colas que se generan
                    en la regi&oacute;n, como la hoja del cultivo del pl&aacute;tano, cascara de caco y la fibra de
                    coco, además de incursionar en la formación de recursos humanos con apoyo de proyectos de
                    investigación.</p><br>
                <p>Colecci&oacute;n iniciada en la l&iacute;nea de investigaci&oacute;n de Hongos comestibles y
                    medicinales.</p><br>
            </div>
        </div>
    </section>
{% endblock %}