{% extends 'base.html' %}
{% load static %}
{% block container %}

   <!-- About Section -->
    <header class="masthead">
        <div class="container">
            <img class="img-fluid" src="{% static 'assets/img/logo1.png' %}"  alt="">
            <div class="intro-text">
                <span class="name">Bienvenido</span>
                <hr class="pagelines-light">
                <span class="skills">Divisi&oacute;n Academica de Ciencias Biologicas.</span>
            </div>
        </div>
    </header>
{% endblock %}