{% extends 'base.html' %}
{% load static %}
{% block container %}

    <!-- About Section -->
    <section id="portfolio">
        <div class="container"><br>
            <h2 class="text-center">Resumen</h2>
            <hr class="pagelines-primary">
            <br>


            <h2>Proyectos</h2><br>

            <p>Durante los últimos cinco años se han desarrollado proyectos de trabajo con metas específicas, en los que
                participa todo el personal del herbario, a fin de mejorar la calidad de las colecciones, las bases de
                datos que derivan de las colecciones y la infraestructura con que cuenta el herbario.</p><br>

            <p>El propósito de tener representada en el herbario lo mejor posible la flora de Veracruz, es lo que ha
                motivado el desarrollo de este proyecto. El objetivo principal fue recolectar muestras de plantas
                vasculares de las regiones del estado que no están representadas en el herbario, incorporando a la vez
                la información de los especímenes a la base de datos. Se realizaron 2,923 números de colecta, que
                corresponden a casi 1300 especies de la flora veracruzana.</p><br>
        </div>
    </section>
{% endblock %}