{% extends 'base.html' %}
{% load static %}
{% block container %}

    <!-- About Section -->
    <section id="portfolio">
        <div class="container"><br>
            <h2 class="text-center">Resumen</h2>
            <hr class="pagelines-primary">
            <br>


            <h2>Colecciones de plantas</h2><br>

            <h3>Primer Ejemplar del Herbario</h3><br>


            <div class="row">
                <div class="col-md-6  zoom"><img src="imagenes/20170324_122611.jpg" class="img-responsive" width="40%">
                </div>
                <div class="col-md-6"><h4>Plantas medicinales de mexico</h4>
                    <h5>Herbario IMEPLAM</h5>
                    <p>Estado de: Puebla</p>
                    <p>Hellocarpus appendiculatus Turca.</p>
                    <p>Fam.: Tiliaceae</p>
                    <p>"Jonote"</p>

                    <p>Loc. La Conchita, a 500m. al N. sobre Carr.Cuetzalàn, Zacapoaztla.</p>
                    <p>arbol .de unos 10m. de alto, en fruto</p>

                    <p>Se hacen bolsas con las ramas y otras artezanias.</p>
                    <p>Tambièn lo tilizan para lavar cortaduras.</p>

                    <p>Col. Ph. Lamy 113, L.Rico 150 y M.A. Martinez A. 1879</p>

                    <p>19 de abril de 1978</p>

                    <p>Det.: Jerzy Rzedowski
                    </p><br></div>
            </div>

            <p>Primer ejemplar del Herbario de la ujat, dado por el herbario de IMEPLAM</p><br>

            <h3>Ceiba</h3>


            <div class="row">
                <div class="col-md-6 zoom"><img src="imagenes/ceiba.jpg" class="img-responsive" width="40%"></div>
                <div class="col-md-6"><h4>Herbario De La escuela Nacional de Ciencias Biologicas
                    INSTITUTO POLITECNICO NACIONAL-MEXICO, D.F.</h4>

                    <h5>FLORA MESOAMERICANA-MEXICO</h5>
                    <p>Ceiba pentandra L.</p>
                    <p>Fam. Bombacaceae N.v.</p>
                    <p>Loc. La Herradura, municipio de Teapatàn</p>

                    <p>Estado: Chiapas Fecha 21.III.1985</p>
                    <p>Hab. Orilla de arrollo Alt. 70 m</p>
                    <p>Col. F Ventura A. No. 21415</p>
                    <p>Observ. àrbol de 35 m de alto; fruto verde; escasa</p>

                    <p>Det. R. Fernàndez N.
                    </p><br></div>
            </div>


            <p>la Ceiba es el arbol icono del estado de Tabasco.</p><br>

            <h3>Roble</h3>
            <div class="row">
                <div class="col-md-6 zoom"><img src="imagenes/20170324_120807.jpg" class="img-responsive" width="60%">
                </div>
                <div class="col-md-6"><h4>UNIVERSIDAD JUAREZ AUTÒNOMA DE TABASCO.</h4>

                    <h5>Herbario de la division academica de ciencias biologicas Flora Tabasco</h5>
                    <p>Fam: FAGACEAE</p>
                    <p>Nc. Quercus oleoides S. & C.</p>
                    <p>Arbol de 18 a 25 m de alto, fruto una baya, muy abundante</p>
                    <p>en lomerio suave. Nombre comùn: roble</p>
                    <p>Ejido Chablè, Valancàn Tabasco.</p>
                    <p>Col.M. Juàrez P. Fecha: 13-04-1988</p>
                    <p>Det: M Juàrez P. No: 292</p>
                    <p>"Donaciòn de la Cìa. Desarrollo Forestal Pulsar"
                    </p><br></div>
            </div>

            <p>El acervo del Herbario XAL está constituido básicamente por espec&iacute;menes desecados, pero incluye
                tambi&eacute;n otro tipo de colecciones como son fotograf&iacute;as de ejemplares y microfichas de
                literatura taxon&oacute;mica y espec&iacute;menes de herbarios hist&oacute;ricos y tipos. Igualmente,
                las bases de datos son ahora parte importante del acervo del herbario y en XAL se han desarrollado las
                correspondientes a plantas vasculares, hongos y l&iacute;quenes, y la de briofitas.</p><br>


            <h3>Jonote</h3>
            <div class="row">
                <div class="col-md-6 zoom"><img src="imagenes/20170324_121524.jpg" class="img-responsive" width="60%">
                </div>
                <div class="col-md-6"><h4>UNIVERSIDAD JUAREZ AUTÒNOMA DE TABASCO.</h4>
                    <h5>Herbario de la division academica de ciencias biologicas Flora Tabasco</h5>
                    <p>Estado de: Puebla</p>
                    <p>Hellocarpus appendiculatus Turca.</p>
                    <p>Fam.: Tiliaceae</p>
                    <p>"Jonote"</p>

                    <p>Loc. La Conchita, a 500m. al N. sobre Carr.Cuetzalàn, Zacapoaztla.</p>
                    <p>arbol .de unos 10m. de alto, en fruto</p>

                    <p>Se hacen bolsas con las ramas y otras artezanias.</p>
                    <p>Tambièn lo tilizan para lavar cortaduras.</p>

                    <p>Col. Ph. Lamy 113, L.Rico 150 y M.A. Martinez A. 1879</p>

                    <p>19 de abril de 1978</p>

                    <p>Det.: Jerzy Rzedowski
                    </p><br></div>
            </div>

            <p>La infraestructura del herbario incluye, adem&aacute;s del mobiliario adecuado para la conservaci&oacute;n
                de los espec&iacute;menes, algunos microscopios, mesas de trabajo y utensilios pertinentes para la
                disección de muestras vegetales. Tambi&eacute;n, como parte de sus herramientas de trabajo, el herbario
                tiene asociada una pequeña biblioteca con bibliograf&iacute;a taxonómica indispensable para la revisi&oacute;n
                del material herborizado.</p><br>

            <h3>Cola de Caballo</h3>
            <div class="row">
                <div class="col-md-6 zoom"><img src="imagenes/20170324_121000.jpg" class="img-responsive" width="60%">
                </div>
                <div class="col-md-6"><h4>UNIVERSIDAD JUAREZ AUTÒNOMA DE TABASCO.</h4>

                    <h5>Herbario de la division academica de ciencias biologicas Flora Tabasco</h5>
                    <p>FLORA DE TABASCO</p>
                    <p>Familia: Equisetaceae</p>
                    <p>N.C. Equisetum giganteum L.</p>
                    <p>Ubicaciòn: Oxolotan, Tacotalpa</p>
                    <p>Coordenadas: 17º 20` y 17º 25`latitud Norte, 92º 45`y 92º 40` latitud Oeste.</p>
                    <p>fecha: 14/11/2001 Col. No. 071</p>
                    <p>Hierba poco abùndante. Vegetaciòn a orilla del rìo. Uso medicinal.</p>
                    <p>Nombre comùn: Cola de caballo Col: Adriana C. Velox. M. Det: Adriana C. Velox. M.
                    </p><br></div>
            </div>

            <p>Las colecciones del herbario están siempre disponibles para consulta, sea para el cotejo de espec&iacute;menes,
                estudios morfol&oacute;gicos de diversa &iacute;ndole, o la obtenci&oacute;n de informaci&oacute;n a
                partir de las etiquetas de los ejemplares o de las bases de datos. Estudios especiales, como son anat&oacute;micos,
                fitoqu&iacute;micos o moleculares (ADN), pueden realizarse a solicitud y consentimiento expreso espec&iacute;ficos.</p>
            <br>

            <h5>Plantas vasculares</h5><br>
            <p>Angiospermas</p><br>

            <p>El grupo de las plantas con flores constituye cerca del 95 % de los espec&iacute;menes de las colecciones
                de plantas vasculares de XAL. Esta parte del acervo contiene muestras correspondientes a 274 familias,
                2,992 géneros y 17,333 especies.</p><br>

            <p>Las familias representadas con m&aacute;s de 2,500 espec&iacute;menes son, en orden decreciente:
                Asteraceae, Poaceae, Rubiaceae, Leguminosae, Solanaceae, Euphorbiaceae, Orchidaceae, Malvaceae,
                Piperaceae y Cyperaceae.</p><br>

            <p>La participaci&oacute;n de varios tax&oacute;nomos especialistas en la elaboraci&oacute;n de los fasc&iacute;culos
                de la serie Flora de Veracruz y otros proyectos, ha permitido alcanzar un buen estándar de curaci&oacute;n
                en varias familias. Entre ellas se encuentran por ejemplo: Actinidaceae, Araliaceae, Asteraceae (en
                parte), Bignoniaceae, Burseraceae, Convolvulaceae, Cupressaceae, Lauraceae, Malvaceae, Myrtaceae,
                Orchidaceae, Rubiaceae, Solanaceae, Thymelaeaceae y Verbenaceae.</p><br>

            <h5>Plantas vasculares</h5><br>
            <p>Gimnospermas</p><br>

            <p>Este grupo de plantas conforma apenas el 1% de los espec&iacute;menes de las colecciones de plantas
                vasculares de XAL, representando 12 familias, 26 g&eacute;neros y 180 especies. Las familias mejor
                representadas son Pinaceae y Zamiaceae, ambas con un buen nivel de curaci&oacute;n.</p><br>

            <h5>Colección de pteridofitas</h5><br>

            <p>Los helechos y plantas afines constituyen alrededor del 5 % del acervo de las colecciones de plantas
                vasculares. La representaci&oacute;n de este grupo abarca alrededor de 32 familias, 124 g&eacute;neros y
                900 especies. Esta secci&oacute;n del herbario goza de un buen nivel de curaci&oacute;n en todos sus
                taxa. Entre las familias con mayor n&uacute;mero de ejemplares se encuentran las Aspleniaceae,
                Dryopteridaceae, Polyppodiaceae, Pteridaceae (Adiantaceae), Selaginellaceae y Thelypteridaceae.</p><br>


            <h5>Colecci&oacute;n de briofitas</h5><br>
            <p><a href="http://www3.inecol.edu.mx/briologia/" target="_blank">http://www.filogenetica.org/briologia/briologia.htm</a>
            </p>

            <h5>Colecci&oacute;n de cepas de hongos comestibles</h5><br>
            <div class="row">
                <div class="col-md-6"><img src="imagenes/hongo.png" class="img-responsive" width="100%"></div>
                <div class="col-md-6"><p>El laboratorio de hongos macroscópicos cuenta con un cepario de hongos
                    comestibles y medicinales que se inici&oacute; en el año 2012.</p><br>
                    <p>A la fecha cuenta con cepas nativas de Tabasco como Oudemansiella canarii, Pleurotus djamor,
                        Schizophyllum commune, Auricularia fuscosuccinea, Pycnoporus sanguineus y Volvariella volvacea,
                        entre otras.</p> <br></div>


                <p>Con dichas cepas se han desarrollado estudios sobre caracterización del crecimiento micelial de los
                    hongos comestibles, evaluación de la fructificación en subproductos agr&iacute;colas que se generan
                    en la regi&oacute;n, como la hoja del cultivo del pl&aacute;tano, cascara de caco y la fibra de
                    coco, además de incursionar en la formación de recursos humanos con apoyo de proyectos de
                    investigación.</p><br>
                <p>Colecci&oacute;n iniciada en la l&iacute;nea de investigaci&oacute;n de Hongos comestibles y
                    medicinales.</p><br>
            </div>
        </div>
    </section>
{% endblock %}